<div>
  <div id="side-bar-container">
    <div class="menubox">
      <h1>
          <fa-icon [icon]="faArchive"></fa-icon> &nbsp; Browser
        <!-- <font-awesome-icon icon="archive" /> &nbsp; Browser -->
      </h1>
      <ul>
        <li routerLink="/photos" routerLinkActivate="active" routerLinkActiveOptions="{ exact: true }">
          <fa-icon [icon]="faImage"></fa-icon> &nbsp; Photos
        </li>
        <li routerLink="/stared" routerLinkActivate="active" routerLinkActiveOptions="{ exact: true }">
          <fa-icon [icon]="faStar"></fa-icon> &nbsp; Stared
        </li>
      </ul>
    </div>

    <div class="menubox">
      <h1>
          <fa-icon [icon]="faImages"></fa-icon> &nbsp; Album
      </h1>
    </div>
  </div>
</div>
