div#photo-container {
  width: inherit;
}
@media only screen and (max-width: 2560px) and (min-width: 1921px) {
  div#photo-container {
    column-count: 8;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1661px) {
  div#photo-container {
    column-count: 5;
  }
}

@media only screen and (max-width: 1660px) and (min-width: 1201px) {
  div#photo-container {
    column-count: 5;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  div#photo-container {
    column-count: 4;
  }
}
